.form__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
    
	gap: 1.5rem;
}
/* Map */
.map{
    width:500px;
    height:500px
}

.btnCal{
    background: #1B31A8;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: none;
    font-family:"Work Sans", sans-serif;
}

/* Input styling */
.form__container__inputs {
	display: flex;
    width: 100%;
    gap: 3rem;
}

.input__para{
    margin-top: 30px;
}



.form__container__inputs div:nth-child(2){
    margin: auto;
}

.input__container {
	margin: 8px 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid #e9eef2;
	border-radius: 8px;
}

.input__container span {
	padding-left: 10px;
}

input {
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	line-height: 1.5;
	flex-grow: 1;
	background: inherit;
	border: none;
	border-radius: inherit;
	padding: 12px 12px;
	outline: 0;
	color: #4d6475;
}

.result__container{
    width:100%;
}

.result__container  div:nth-child(1) p{
	border: 1px solid #e9eef2;
	border-radius: 8px 8px 0 0;
	width: 100%;
	background-color: white;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding: 15px 15px;
	display: flex;
    align-items: center;

}

/* result */
.result__container div:nth-child(1) p span {
	flex: 1;
	text-align: right;
	white-space: nowrap;
    
}

.result__blue{
    font-size: 32px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #0079FF;
}

.result__container  div:nth-child(2) p{
	border: 1px solid #e9eef2;
	border-radius:0 0 8px 8px ;
	width: 100%;
	background-color: #F4F8FA;
	font-size: 12px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	padding: 20px 15px;
    border-top: none;
}

.result__container  div:nth-child(2) p span{
	font-weight: 700;
}

/* Media  */

@media screen  and (max-width:1024px) {
    .map{
        width:450px;
        height:450px
    }
}


@media screen  and (max-width:768px) {
    .form__container__inputs {
        flex-direction: column; 
    }
    .map{
        width:400px;
        height:400px
    }
    .input__container{
        width: 100%;
    }
}
@media screen  and (max-width:425px) {

    .map{
        width:300px;
        height:300px
    }
    input {
        font-size: 18px;
        line-height: 1;
        padding: 8px 8px;
    }
    /* .btn{
        padding: 7px 30px;
    } */
}

